.background {
    /*background: radial-gradient(ellipse at top, black, darkblue),
            radial-gradient(ellipse at bottom, black, darkblue);*/
    background: linear-gradient(30deg, darkblue, black, darkblue, black);
    margin-bottom: -10px;
}
.botonCreacion {
    margin-left: 2px;
}
.botonFavorito {
    background-color: transparent;
    border-color: transparent;
}
.botonFavorito:hover {
    background-color: transparent;
    border-color: transparent;
}
.botonFavorito:active:not(.btn-check) {
    background-color: transparent;
    border-color: transparent;  
}